<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="WPTypia Email Service Provider Connector for Newspack Newsletters with Listmonk">
			<directory suffix="Test.php">tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
